# Nestjs specific
./user-service/dist
./user-service/node_modules
./user-service/build
./user-service/tmp

./application-service/dist
./application-service/node_modules
./application-service/build
./application-service/tmp

./job-service/dist
./job-service/node_modules
./job-service/build
./job-service/tmp




# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
./user-service/.env
./application-service/.env
./job-service/.env

# temp directory
.temp
.tmp
